@import 'tailwindcss';
@import 'tw-animate-css';

@import './fonts.css';
@import './colors.css';
@import './typography.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  :root,
  html,
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
